mmsGroupId=5ff909c5c19c725f1cb26582
mmsApiKey=5ff90a16c19c725f1cb265e53539adc90dcf2a729badb1bb746ae1fa
mmsBaseUrl=http://ip-172-31-55-18.ec2.internal:8080

#
# Path to log file
#
logFile=/var/log/mongodb-mms-automation/automation-agent.log

#
# Path to backup cluster config to
#
mmsConfigBackup=/var/lib/mongodb-mms-automation/mms-cluster-config-backup.json

#
# Lowest log level to log.  Can be (in order): DEBUG, ROUTINE, INFO, WARN, ERROR, DOOM
#
logLevel=INFO

#
# Maximum number of rotated log files
#
maxLogFiles=10

#
# Maximum size in bytes of a log file (before rotating)
#
maxLogFileSize=268435456

#
# URL to proxy all HTTP requests through
#
#httpProxy=

# For additional optional settings, please see
# https://docs.opsmanager.mongodb.com/current/reference/mongodb-agent-settings/index.html
