mmsGroupId=5f92317a197737335f519bce
mmsApiKey=5f9231a7197737335f519c06b5b7d9f101165aa505c0f88d7d13b061
mmsBaseUrl=http://ip-172-31-60-215.ec2.internal:8080

#
# Path to log file
#
logFile=/var/log/mongodb-mms-automation/automation-agent.log

#
# Path to backup cluster config to
#
mmsConfigBackup=/var/lib/mongodb-mms-automation/mms-cluster-config-backup.json

#
# Lowest log level to log.  Can be (in order): DEBUG, ROUTINE, INFO, WARN, ERROR, DOOM
#
logLevel=INFO

#
# Maximum number of rotated log files
#
maxLogFiles=10

#
# Maximum size in bytes of a log file (before rotating)
#
maxLogFileSize=268435456

#
# URL to proxy all HTTP requests through
#
#httpProxy=

# For additional optional settings, please see
# https://docs.opsmanager.mongodb.com/current/reference/mongodb-agent-settings/index.html
